<nav class="style-nav container">
    <ul>
        <li><a href="#">OPTICAL</a></li>
        <li class="type2"><a href="#">SUNGLASSES</a></li>
        <li><a href="#">FUNCTIONAL</a></li>
    </ul>
</nav>