.p-tb-80{
  padding-top: 80px;
  padding-bottom: 80px;
}

.dFlex-jcsb{
    display: flex;
    justify-content: space-between;
}


.dFlex {
    display: flex;
  }
.jscb{
    justify-content: space-between;
  }
.align-center {
    align-items: center;
  }
.flex-wrap {
    flex-wrap: wrap;
  }
  
